BasedOnStyle: Chromium

BreakBeforeBraces: Attach
IndentWidth: 2
ColumnLimit: 79

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: true

ForEachMacros: ['REP', 'REPL', 'REPD']